# Pandas challenges

Read the `veahicles.csv` dataframe and store it in a variable called `cars`:

In [1]:
import pandas as pd
cars = pd.read_csv('vehicles.csv')

In [8]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [2]:
print(cars.head(5))

               Make                Model  Year  Engine Displacement  \
0        AM General    DJ Po Vehicle 2WD  1984                  2.5
1        AM General     FJ8c Post Office  1984                  4.2
2        AM General  Post Office DJ5 2WD  1985                  2.5
3        AM General  Post Office DJ8 2WD  1985                  4.2
4  ASC Incorporated                  GNX  1987                  3.8

   Cylinders     Transmission        Drivetrain                Vehicle Class  \
0        4.0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD
1        6.0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD
2        4.0  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD
3        6.0  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD
4        6.0  Automatic 4-spd  Rear-Wheel Drive                 Midsize Cars

  Fuel Type  Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  \
0   Regular          19.388824        18           17            17
1   Regular          25.354615        13           13            13
2   Regular          20.600625        16           17            16
3   Regular          25.354615        13           13            13
4   Premium          20.600625        14           21            16

   CO2 Emission Grams/Mile  Fuel Cost/Year
0               522.764706            1950
1               683.615385            2550
2               555.437500            2100
3               683.615385            2550
4               555.437500            2550

Explore the dataset:

- How many rows and columns are there?

- What are the data types of the columns?

- Are there missing values?

- What are the ranges / distributions of the numerical columns?

- What are the value counts for the categorical columns?

In [1]:
# code here

Drop the column "Combined MPG"

In [14]:
cars.drop(columns = ['Combined MPG'], inplace=True)

Change column names so that there are no names with spaces or weird special characters:

In [5]:
cars.rename(columns = {
    'Engine Displacement' : 'Engine_Displacement',
    'Vehicle Class' : 'Vehicle_Class',
    'Fuel Type' : 'Fuel_Type',
    'Fuel Barrels/Year' : 'Fuel_Barrels_p_Year',
    'City MPG' : 'City_MPG',
    'Highway MPG' : 'Highway_MPG',
    'CO2 Emission Grams/Mile' : 'CO2_Emission_Grams_p_Mile',
    'Fuel Cost/Year' : 'Fuel_Cost_p_Year'}, inplace=True)
print(cars.head(2))

         Make              Model  Year  Engine_Displacement  Cylinders  \
0  AM General  DJ Po Vehicle 2WD  1984                  2.5        4.0
1  AM General   FJ8c Post Office  1984                  4.2        6.0

      Transmission     Drivetrain                Vehicle_Class Fuel_Type  \
0  Automatic 3-spd  2-Wheel Drive  Special Purpose Vehicle 2WD   Regular
1  Automatic 3-spd  2-Wheel Drive  Special Purpose Vehicle 2WD   Regular

   Fuel_Barrels_p_Year  City_MPG  Highway_MPG  Combined MPG  \
0            19.388824        18           17            17
1            25.354615        13           13            13

   CO2_Emission_Grams_p_Mile  Fuel_Cost_p_Year
0                 522.764706              1950
1                 683.615385              2550

What brand has the most cars?

In [3]:
print(cars.Make.max())

smart

What brand has the worse CO2 Emissions on average?

In [9]:
print(cars.groupby(['Make']).CO2_Emission_Grams_p_Mile.max().sort_values(ascending=False).head(5))

Make
Lamborghini    1269.571429
Ferrari        1110.875000
Maserati       1110.875000
Rolls-Royce    1110.875000
Vector         1110.875000
Name: CO2_Emission_Grams_p_Mile, dtype: float64

Which brands are more environment friendly?

In [12]:
print(cars.groupby(['Make']).CO2_Emission_Grams_p_Mile.min().sort_values(ascending=True).head(5))

Make
BMW           37.0
Chevrolet     51.0
Cadillac      91.0
Hyundai      101.0
Ford         112.0
Name: CO2_Emission_Grams_p_Mile, dtype: float64

Create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [35]:
def decades(Year):
    if 1980 <= Year < 1990: return '1980s'
    elif 1990 <= Year < 2000: return '1990s'
    elif 2000 <= Year <2010: return '2000s'
    else: return '2010s'

In [36]:
cars['Decade'] = cars.Year.apply(decades)
print(cars.head(3))

         Make                Model  Year  Engine_Displacement  Cylinders  \
0  AM General    DJ Po Vehicle 2WD  1984                  2.5        4.0
1  AM General     FJ8c Post Office  1984                  4.2        6.0
2  AM General  Post Office DJ5 2WD  1985                  2.5        4.0

      Transmission        Drivetrain                Vehicle_Class Fuel_Type  \
0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD   Regular
1  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD   Regular
2  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD   Regular

   Fuel_Barrels_p_Year  City_MPG  Highway_MPG  Combined MPG  \
0            19.388824        18           17            17
1            25.354615        13           13            13
2            20.600625        16           17            16

   CO2_Emission_Grams_p_Mile  Fuel_Cost_p_Year Decade
0                 522.764706              1950  1980s
1                 683.615385              2550  1980s
2                 555.437500              2100  1980s

In [37]:
print(cars.Year.unique())

[1984 1985 1987 1997 1998 1999 1995 1996 2001 2002 2003 2000 2004 2013
 2014 2015 2016 2017 1986 1988 1989 1990 1991 1992 1993 1994 2005 2006
 2007 2008 2009 2010 2011 2012]

In [38]:
print(cars.Decade.unique())

['1980s' '1990s' '2000s' '2010s']

Did cars consume more gas in the eighties?

In [39]:
print(cars.groupby(['Decade']).Fuel_Barrels_p_Year.mean().reset_index())

  Decade  Fuel_Barrels_p_Year
0  1980s            18.552822
1  1990s            18.293291
2  2000s            17.962477
3  2010s            15.778968

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [50]:
### see below: 41, 62, 64
# code here
# in the next notebook, we will learn how we can clean the "Trans" column

In [ ]:
### see below: 67, 70,71

Group cars by fuel type and aggregate them by the following criteria: 

- The maximum number cylinders
- The oldest year
- The average Miles Per Gallon in the city

In [41]:
print(cars.Transmission.unique())

['Automatic 3-spd' 'Automatic 4-spd' 'Manual 5-spd' 'Automatic (S5)'
 'Manual 6-spd' 'Automatic 5-spd' 'Auto(AM8)' 'Auto(AM-S8)' 'Auto(AV-S7)'
 'Automatic (S6)' 'Automatic (S9)' 'Automatic (S4)' 'Auto(AM-S9)'
 'Automatic (S7)' 'Auto(AM7)' 'Auto(AM-S7)' 'Auto(AM6)' 'Automatic 6-spd'
 'Manual 4-spd' 'Automatic (S8)' 'Manual(M7)' 'Auto(AM-S6)'
 'Automatic (variable gear ratios)' 'Automatic (AV)' 'Auto(AV-S8)'
 'Automatic (AM6)' 'Automatic 8-spd' 'Auto(A1)' 'Automatic (A1)'
 'Automatic (A6)' 'Auto(AV-S6)' 'Manual 3-spd' 'Manual 7-spd'
 'Automatic 9-spd' 'Auto (AV)' 'Automatic 6spd' 'Auto(L4)' 'Auto(L3)'
 'Auto (AV-S6)' 'Auto (AV-S8)' 'Automatic (AV-S6)' 'Automatic 7-spd'
 'Manual 5 spd' 'Auto(AM5)' 'Automatic (AM5)']

In [62]:
cars['manual_automatic'] = cars.apply(lambda row:
'manual' if row['Transmission'][0] == 'M' else 'automatic', axis=1
)
print(cars.head(3))

         Make                Model  Year  Engine_Displacement  Cylinders  \
0  AM General    DJ Po Vehicle 2WD  1984                  2.5        4.0
1  AM General     FJ8c Post Office  1984                  4.2        6.0
2  AM General  Post Office DJ5 2WD  1985                  2.5        4.0

      Transmission        Drivetrain                Vehicle_Class Fuel_Type  \
0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD   Regular
1  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD   Regular
2  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD   Regular

   Fuel_Barrels_p_Year  City_MPG  Highway_MPG  Combined MPG  \
0            19.388824        18           17            17
1            25.354615        13           13            13
2            20.600625        16           17            16

   CO2_Emission_Grams_p_Mile  Fuel_Cost_p_Year Decade manual_automatic
0                 522.764706              1950  1980s        automatic
1                 683.615385              2550  1980s        automatic
2                 555.437500              2100  1980s        automatic

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [64]:
print(cars.groupby(['manual_automatic']).Fuel_Barrels_p_Year.mean().reset_index())

  manual_automatic  Fuel_Barrels_p_Year
0        automatic            18.043152
1           manual            16.704904

In [ ]:
#Group cars by fuel type and aggregate them by the following criteria:

#The maximum number cylinders
#The oldest year
#The average Miles Per Gallon in the city

In [67]:
print(cars.groupby(['Fuel_Type']).Cylinders.max().sort_values(ascending=False).head(5))

Fuel_Type
Premium           16.0
Premium or E85    12.0
Regular           12.0
Diesel            10.0
CNG                8.0
Name: Cylinders, dtype: float64

In [70]:
print(cars.groupby(['Fuel_Type']).Year.min().sort_values(ascending=True).head(5))

Fuel_Type
Diesel             1984
Regular            1984
Premium            1985
CNG                1993
Gasoline or E85    2000
Name: Year, dtype: int64

In [71]:
print(cars.groupby(['Fuel_Type']).City_MPG.mean())

Fuel_Type
CNG                            15.966667
Diesel                         21.173436
Gasoline or E85                15.347280
Gasoline or natural gas        13.700000
Gasoline or propane            12.000000
Midgrade                       14.851351
Premium                        16.793166
Premium Gas or Electricity     30.705882
Premium and Electricity        24.900000
Premium or E85                 17.305785
Regular                        17.970195
Regular Gas and Electricity    43.125000
Regular Gas or Electricity     43.000000
Name: City_MPG, dtype: float64

We want to use "Drivetrain" in a statistical model. Convert the column to numeric.

In [74]:
# df[["a", "b"]] = df[["a", "b"]].apply(pd.to_numeric)
cars[['Drivetrain']] = cars[['Drivetrain']].apply(pd.to_numeric, errors='coerce')
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Make                       35952 non-null  object
 1   Model                      35952 non-null  object
 2   Year                       35952 non-null  int64
 3   Engine_Displacement        35952 non-null  float64
 4   Cylinders                  35952 non-null  float64
 5   Transmission               35952 non-null  object
 6   Drivetrain                 0 non-null      float64
 7   Vehicle_Class              35952 non-null  object
 8   Fuel_Type                  35952 non-null  object
 9   Fuel_Barrels_p_Year        35952 non-null  float64
 10  City_MPG                   35952 non-null  int64
 11  Highway_MPG                35952 non-null  int64
 12  Combined MPG               35952 non-null  int64
 13  CO2_Emission_Grams_p_Mile  35952 non-null  float64
 14  Fuel_Cost_p_Year           35952 non-null  int64
 15  Decade                     35952 non-null  object
 16  manual_automatic           35952 non-null  object
dtypes: float64(5), int64(5), object(7)
memory usage: 4.7+ MB

Read the `car_brands.csv` data:

In [75]:
car_brands = pd.read_csv('car_brands.csv')

Join the cars dataframe with the car brands dataframe.

In [77]:
print(car_brands.head(3))

              brand  revenue  production
0        AM General     1537    1.002916
1  ASC Incorporated      232    1.628105
2             Acura      234    3.394481

Which brands have the most revenue?

In [44]:
# code here