In [2]:
import pandas as pd

In [5]:
orders = pd.read_csv(r'C:\Users\Anja Wittler\OneDrive\Dokumente\TG\WBS\bootcamp\Sec_3_Pandas\orders.csv')

In [6]:
orderlines = pd.read_csv(r'C:\Users\Anja Wittler\OneDrive\Dokumente\TG\WBS\bootcamp\Sec_3_Pandas\orderlines.csv')

In [7]:
products = pd.read_csv(r'C:\Users\Anja Wittler\OneDrive\Dokumente\TG\WBS\bootcamp\Sec_3_Pandas\products.csv')

In [8]:
brands = pd.read_csv(r'C:\Users\Anja Wittler\OneDrive\Dokumente\TG\WBS\bootcamp\Sec_3_Pandas\brands.csv')

In [9]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226909 non-null  int64
 1   created_date  226909 non-null  object
 2   total_paid    226904 non-null  float64
 3   state         226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

In [10]:
orderlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

In [11]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19326 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          19326 non-null  object
 1   name         19326 non-null  object
 2   desc         19319 non-null  object
 3   price        19280 non-null  object
 4   promo_price  19326 non-null  object
 5   in_stock     19326 non-null  int64
 6   type         19276 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

In [12]:
brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   short   187 non-null    object
 1   long    187 non-null    object
dtypes: object(2)
memory usage: 3.0+ KB

In [17]:
print(orders.head(10))

   order_id         created_date  total_paid      state
0    241319  2017-01-02 13:35:40       44.99  Cancelled
1    241423  2017-11-06 13:10:02      136.15  Completed
2    242832  2017-12-31 17:40:03       15.76  Completed
3    243330  2017-02-16 10:59:38       84.98  Completed
4    243784  2017-11-24 13:35:19      157.86  Cancelled
5    245275  2017-06-28 11:35:37      149.00  Completed
6    245595  2017-01-21 12:52:47      112.97  Completed
7    245851  2017-04-04 20:58:21       79.99    Pending
8    245941  2017-01-01 10:32:23      183.52  Completed
9    246018  2017-02-13 23:02:57      211.95  Completed

In [18]:
print(orderlines.head(10))

        id  id_order  product_id  product_quantity      sku unit_price  \
0  1119109    299539           0                 1  OTT0133      18.99
1  1119110    299540           0                 1  LGE0043     399.00
2  1119111    299541           0                 1  PAR0071     474.05
3  1119112    299542           0                 1  WDT0315      68.39
4  1119113    299543           0                 1  JBL0104      23.74
5  1119114    295310           0                10  WDT0249     231.79
6  1119115    299544           0                 1  APP1582   1.137.99
7  1119116    299545           0                 1  OWC0100      47.49
8  1119119    299546           0                 1  IOT0014      18.99
9  1119120    295347           0                 1  APP0700      72.19

                  date
0  2017-01-01 00:07:19
1  2017-01-01 00:19:45
2  2017-01-01 00:20:57
3  2017-01-01 00:51:40
4  2017-01-01 01:06:38
5  2017-01-01 01:14:27
6  2017-01-01 01:17:21
7  2017-01-01 01:46:16
8  2017-01-01 01:50:34
9  2017-01-01 01:54:11

In [19]:
print(products.head(10))

         sku                                               name  \
0    RAI0007                  Silver Rain Design mStand Support
1    APP0023                  Apple Mac Keyboard Keypad Spanish
2    APP0025                   Mighty Mouse Apple Mouse for Mac
3    APP0072      Apple Dock to USB Cable iPhone and iPod white
4    KIN0007        Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM
5    APP0073     Apple Composite AV Cable iPhone and iPod white
6    KIN0008        Mac Memory Kingston 1GB 667MHz DDR2 SO-DIMM
7    KIN0009        Mac Memory Kingston 2GB 800MHz DDR2 SO-DIMM
8  KIN0001-2  Mac memory Kingston 4GB (2x2GB) 667MHz DDR2 SO...
9    APP0100             Apple Adapter Mini Display Port to VGA

                                                desc  price promo_price  \
0       Aluminum support compatible with all MacBook  59.99     499.899
1          USB ultrathin keyboard Apple Mac Spanish.     59     589.996
2                             mouse Apple USB cable.     59     569.898
3              IPhone dock and USB Cable Apple iPod.     25     229.997
4  2GB RAM Mac mini and iMac (2006/07) MacBook Pr...  34.99       31.99
5  IPhone and iPod AV Cable Dock to Composite Video.     45     420.003
6  1GB RAM Mac mini and iMac (2006/07) MacBook Pr...  18.99     146.471
7       2GB RAM iMac with Intel Core 2 Duo (Penryn).  36.99     274.694
8  RAM 4GB (2x2GB) Mac mini and iMac (2006/07) Ma...     74     669.904
9  Adapter Mini Display Port to VGA MacBook and M...     35     330.003

   in_stock      type
0         1      8696
1         0  13855401
2         0      1387
3         0      1230
4         1      1364
5         0      1230
6         0      1364
7         0      1364
8         0      1364
9         0      1325

In [20]:
print(brands.head(10))

  short        long
0   8MO   8Mobility
1   ACM        Acme
2   ADN      Adonit
3   AII       Aiino
4   AKI      Akitio
5   ALL   Allocacoc
6   AP2       Apple
7   APP       Apple
8   BAN  Band&Strap
9   BEA       Beats

In [21]:
print(orders.tail(5))

        order_id         created_date  total_paid            state
226904    527397  2018-03-14 13:56:38       42.99      Place Order
226905    527398  2018-03-14 13:57:25       42.99  Shopping Basket
226906    527399  2018-03-14 13:57:34      141.58  Shopping Basket
226907    527400  2018-03-14 13:57:41       19.98  Shopping Basket
226908    527401  2018-03-14 13:58:36       18.98      Place Order

In [23]:
print(orderlines.tail(5))

             id  id_order  product_id  product_quantity      sku unit_price  \
293978  1650199    527398           0                 1  JBL0122      42.99
293979  1650200    527399           0                 1  PAC0653     141.58
293980  1650201    527400           0                 2  APP0698       9.99
293981  1650202    527388           0                 1  BEZ0204      19.99
293982  1650203    527401           0                 1  APP0927      13.99

                       date
293978  2018-03-14 13:57:25
293979  2018-03-14 13:57:34
293980  2018-03-14 13:57:41
293981  2018-03-14 13:58:01
293982  2018-03-14 13:58:36

In [24]:
print(products.tail(5))

           sku                                          name  \
19321  BEL0376       Belkin Travel Support Apple Watch Black
19322  THU0060  Enroute Thule 14L Backpack MacBook 13 "Black
19323  THU0061   Enroute Thule 14L Backpack MacBook 13 "Blue
19324  THU0062    Enroute Thule 14L Backpack MacBook 13 "Red
19325  THU0063  Enroute Thule 14L Backpack MacBook 13 "Green

                                                    desc  price promo_price  \
19321  compact and portable stand vertically or horiz...  29.99     269.903
19322  Backpack with capacity of 14 liter compartment...  69.95     649.903
19323  Backpack with capacity of 14 liter compartment...  69.95     649.903
19324  Backpack with capacity of 14 liter compartment...  69.95     649.903
19325  Backpack with capacity of 14 liter compartment...  69.95     649.903

       in_stock   type
19321         1  12282
19322         1   1392
19323         1   1392
19324         0   1392
19325         1   1392

In [25]:
print(brands.tail(5))

    short      long
182   XOO    Xoopar
183   XRI    X-Rite
184   XTO     Xtorm
185   ZAG  ZaggKeys
186   ZEP      Zepp

In [26]:
print(orders.isna().sum())

order_id        0
created_date    0
total_paid      5
state           0
dtype: int64

In [27]:
print(orderlines.isna().sum())

id                  0
id_order            0
product_id          0
product_quantity    0
sku                 0
unit_price          0
date                0
dtype: int64

In [29]:
print(products.isna().sum())

sku             0
name            0
desc            7
price          46
promo_price     0
in_stock        0
type           50
dtype: int64

In [31]:
print(brands.isna().sum())

short    0
long     0
dtype: int64

In [33]:
orders.total_paid.describe()

count    226904.000000
mean        569.225818
std        1761.778002
min           0.000000
25%          34.190000
50%         112.990000
75%         525.980000
max      214747.530000
Name: total_paid, dtype: float64

In [48]:
orderlines.shape

(293983, 7)

In [35]:
orders.columns

Index(['order_id', 'created_date', 'total_paid', 'state'], dtype='object')

In [49]:
orders.shape

(226909, 4)

In [51]:
nrows = orders.shape[0]
ncols = orders.shape[1]
print("The number of rows is", nrows)
print("The number of columns is ", ncols)

The number of rows is 226909
The number of columns is  4

In [52]:
orders.size

907636

In [53]:
orders.shape[0] * orders.shape[1]

907636

In [54]:
orders.ndim

2

In [55]:
orders.nunique()

order_id        226909
created_date    224828
total_paid       31236
state                5
dtype: int64

In [37]:
orders.state.value_counts()

Shopping Basket    117809
Completed           46605
Place Order         40883
Pending             14379
Cancelled            7233
Name: state, dtype: int64

In [38]:
products.columns

Index(['sku', 'name', 'desc', 'price', 'promo_price', 'in_stock', 'type'], dtype='object')

In [58]:
products.describe()

           in_stock
count  19326.000000
mean       0.109593
std        0.312390
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [39]:
products.sku.value_counts()

PAC1034    58
PAC1035    58
PAC1036    58
PAC1032    58
PAC1033    58
           ..
MIC0035     1
APP2166     1
SAN0177     1
BNQ0049     1
TRA0015     1
Name: sku, Length: 10579, dtype: int64

In [40]:
orderlines.columns

Index(['id', 'id_order', 'product_id', 'product_quantity', 'sku', 'unit_price',
       'date'],
      dtype='object')

In [59]:
orderlines.unit_price.min()

'-119.00'

In [62]:
orderlines[orderlines.unit_price == '-119.00']

,id,id_order,product_id,product_quantity,sku,unit_price,date
77008,1268645,365886,0,1,APP1465,-119.00,2017-06-15 12:48:54

In [63]:
products[products.sku == 'APP1465']

,sku,name,desc,price,promo_price,in_stock,type
11764,APP1465,Spanish Keyboard Keyboard Magic Apple Mac (OEM),Spanish Keyboard Mac and Apple iPad Ultrathin ...,119,999.944,1,13855401

In [64]:
orderlines[orderlines.unit_price == '1.137.99']

,id,id_order,product_id,product_quantity,sku,unit_price,date
6,1119115,299544,0,1,APP1582,1.137.99,2017-01-01 01:17:21
2775,1126354,302050,0,1,APP1582,1.137.99,2017-01-03 21:43:12
3329,1130117,302584,0,1,APP1582,1.137.99,2017-01-04 16:44:55
3467,1130359,302718,0,1,APP1582,1.137.99,2017-01-04 19:59:34
3914,1131217,303156,0,1,APP1582,1.137.99,2017-01-05 13:06:31
5705,1135144,304832,0,1,APP1582,1.137.99,2017-01-08 16:26:20
5714,1135158,304838,0,1,APP1582,1.137.99,2017-01-08 16:40:58
6642,1137048,305669,0,1,APP1582,1.137.99,2017-01-09 12:58:48
9466,1143173,308183,0,1,APP1582,1.137.99,2017-01-12 19:35:03
9648,1143543,308343,0,1,APP1582,1.137.99,2017-01-13 00:39:46
17587,1159790,315031,0,1,APP1582,1.137.99,2017-01-26 09:53:51
25136,1174992,321648,0,1,APP1582,1.137.99,2017-02-09 08:59:18
25424,1175535,321892,0,1,APP1582,1.137.99,2017-02-09 15:39:27
26411,1177474,322785,0,1,APP1582,1.137.99,2017-02-12 07:34:30
27158,1178778,323434,0,1,APP1582,1.137.99,2017-02-13 11:09:10
27196,1178848,323466,0,1,APP1582,1.137.99,2017-02-13 11:42:18
27432,1179359,323668,0,1,APP1582,1.137.99,2017-02-13 17:23:57
30622,1185398,326288,0,1,APP1582,1.137.99,2017-02-19 17:37:55
31518,1187081,327079,0,1,APP1582,1.137.99,2017-02-21 11:50:41
31528,1187102,327089,0,1,APP1582,1.137.99,2017-02-21 11:57:31
32332,1188627,327772,0,1,APP1582,1.137.99,2017-02-22 19:54:46
32333,1188628,327773,0,1,APP1582,1.137.99,2017-02-22 19:55:02
32334,1188629,327774,0,1,APP1582,1.137.99,2017-02-22 19:55:19
33692,1191285,328993,0,1,APP1582,1.137.99,2017-02-25 21:07:41
33914,1191655,329190,0,1,APP1582,1.137.99,2017-02-26 17:18:04

In [65]:
products[products.sku == 'APP1582']

,sku,name,desc,price,promo_price,in_stock,type
12209,APP1582,"Apple MacBook Air 13 ""i7 22 Ghz | 8GB RAM | 12...",laptop MacBook Air 13 inch i7 22GHz 8GB RAM 12...,1219,11.645.851,0,1282

In [42]:
brands.columns

Index(['short', 'long'], dtype='object')

In [43]:
brands.short.value_counts()

NDE    1
SOF    1
OTT    1
CAI    1
MAC    1
      ..
OTR    1
MTF    1
CRU    1
RYV    1
TAD    1
Name: short, Length: 187, dtype: int64

In [57]:
brands.isna().sum()

short    0
long     0
dtype: int64

In [44]:
orders.order_id.value_counts()

524288    1
476482    1
326965    1
320822    1
322871    1
         ..
475837    1
481982    1
479935    1
305856    1
526335    1
Name: order_id, Length: 226909, dtype: int64

In [45]:
orders.created_date.value_counts()

2018-03-05 10:36:05    69
2018-03-05 10:36:02    27
2018-03-05 10:35:54    27
2018-03-05 10:36:51    24
2018-03-05 10:36:47    22
                       ..
2017-10-30 17:38:57     1
2017-03-18 18:16:02     1
2018-02-01 11:27:17     1
2017-08-30 09:52:30     1
2017-04-03 13:05:47     1
Name: created_date, Length: 224828, dtype: int64

In [46]:
print(orders.created_date.max())

2018-03-14 13:58:36

In [47]:
print(orders.created_date.min())

2017-01-01 00:07:19